{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}TODO App{% endblock %}

{% block page_content %}
    {% if not backlink %}
    <div class="container">
        <div class="page-header">
            <h3>Create TODO</h3>
        </div>
        <div class="col-xs-6">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    {% endif %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <hr>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row col-xs-4">
            <h3>My TODOs</h3>
        </div>
        <form class="row col-xs-6 input-group pull-right" action="{{ url_for('todo.search') }}" method="post">
            <input type="text" class="form-control" name="search_string">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Find Title <span class="glyphicon glyphicon-search"></span></button>
            </span>
        </form>
        {% if backlink %}
                <form class="row" action="{{ url_for('todo.workspace') }}" margin-bottom="50px" method="post">
                    <button type="submit" class="btn btn-warning btn-block">Back to All <span class="glyphicon glyphicon-fast-backward"></span></button>
                </form>
        {% endif %}
    </div>
    {% for item in items %}
        <div class="container">
            <div class="btn-info text-center row col-xs-4">
                Due: {{ item.due }}
            </div>
        </div>
        <div class="container-fluid {% if item.state %}
        bg-success
        {% else %}
        bg-info
        {% endif %}">
            <div class="well row">
            <div class="row col-xs-5 pull-left">
                <h4 class="">{{ item.title }}</h4>
            </div>
            <div class="row col-xs-5">
                <p class="">{{ item.description }}</p>
            </div>
            <form class="form-group row col-xs-2 pull-right" action="{{ url_for('todo.delete', item_id=item.id) }}" method="post">
                <input type="submit" class="btn-danger" value="X">
            </form>
        </div>
            <div class="checkbox row col-xs-2 text-center pull-right">
                <label><input type="checkbox" value="done" disabled="disabled" {% if item.state %}checked{% endif %}>done</label>
            </div>
        {% if not item.state %}
            <div>
                <form class="row col-xs-3 btn pull-left" action="{{ url_for('todo.change_state', item_id=item.id, state=not item.state) }}" method="post">
                    <button type="submit" class="btn btn-info">Finished <span class="glyphicon glyphicon-thumbs-up"></span></button>
                </form>
            </div>
        {% endif %}
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <hr>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}