{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}RichCode{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Grow Big, Stranger!</h1>
</div>
{{ wtf.quick_form(form) }}
    <p>{% if age %} Thanks, you are {{ age }} years old. The AI will now be happy.
        {% else %}Feed him!{% endif %}</p>
    <br>
    <br>
<p>Forgot your name? Good, here some useful info for you:
    {{ moment(current_time).format('LLL') }}.
</p>
<p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
{% endblock %}